.Content {
  margin-bottom: 100px;
  height: 100%;
  display: flex;
  padding: 0 42px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 72px;
}

.Limit {
  max-width: 1380px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.Content content {
  width: 60%;
  color: white;
  margin-top: 40px;
  margin-right: 20px;
  max-width: 480px;
}

content h1 {
  font-size: 29px;
}

content ul {
  padding-left: 0;
}

content li {
  position: relative;
  padding-left: 42px;
  margin-bottom: 1em;
  min-height: 27px;
  list-style: none;
  display: flex;
  align-items: center;
}

content li::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 27px;
  background: url(https://www.squirrelsuper.com.au/images/squirrels/daves-nut.svg) no-repeat center;
  background-size: 24px 27px;
}

content p, content label, content ul li {
  font-size: 18px;
  margin-bottom: 1em;
}
